﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 class="display-4">Welcome to your move web app</h1>
            <p>Choose a piece then select enter a starting position.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-12 text-center">
            <select disabled id="pieceSelection" required>
                <option selected value="--">-Select a chess piece-</option>
            </select>
        </div>
        <div class="col-sm-6 col-12 text-center">
            <input type="text" id="positionSelection" required disabled />
        </div>
    </div>

    <div class="row">
        <div class="col" id="movesThatCanBeMade">
            
        </div>
    </div>

    <div class="row">
        <div class="col text-center pt-6">
            <button id="submit" type="button" class="btn btn-primary">Get Your Moves</button>
        </div>
    </div>
</div>
<div class="text-center">

</div>


@section Scripts
{
    <script>

        $(document).ready(function () {
            var baseUrl = "@Model.ApiBaseUrl";
            var pieceSelectionElem = $('#pieceSelection');
            var positionSelectionElem = $('#positionSelection');
            var submitButtom = $('#submit');
            var movesThatCanBeMade = $('#movesThatCanBeMade');

            pieceSelectionElem.on('change', function () {
                var notSet = $(this).val() == '--';
                positionSelectionElem.prop('disabled', notSet);
                positionSelectionElem.focus();
            })

            $.get(
                baseUrl + '/chessmoves',
                null,
                function (data) {
                    var pieces = data.pieces;
                    var positionsOptions = data.positionsOptions

                    for (var i = 0; i < pieces.length; i++) {
                        var elem = pieces[i];
                        pieceSelectionElem.append($('<option>', {
                            value: elem.code,
                            text: elem.name
                        }));
                        pieceSelectionElem.prop('disabled', false);
                    }
                }
            );

            submitButtom.on('click', function () {
                movesThatCanBeMade.html('')

                var piece = pieceSelectionElem.val();
                var position = positionSelectionElem.val();
                submitButtom.prop("disabled", true);

                var request = $.ajax({
                    url: baseUrl + '/chessmoves',
                    type: "post",
                    dataType: "json",
                    data: {
                        piece: piece,
                        position: position
                    }
                });

                request.done(function (response, textStatus) {
                    var name = response.piece;
                    var position = response.position;
                    var moves = response.moves;

                    movesThatCanBeMade.append('<h5><strong>' + name + '</strong> at ' + position + ' can make the following moves</h5>');

                    movesThatCanBeMade.append(moves.join(', '));
                });

                request.fail(function (jqXHR, textStatus, errorThrown) {
                    if (jqXHR.status == 400) {
                        alert(jqXHR.responseJSON.message);
                    }
                    console.error(
                        "The following error occurred: " +
                        textStatus, errorThrown
                    );
                });

                request.always(function () {
                    submitButtom.prop("disabled", false);
                });
            });
        })
    </script>
}
